@page
@model WebApplication1.Pages.PostsModel
@{
}

<style type="text/css">
    .blog-grid {
        position: relative;
        box-shadow: 0 1rem 1.75rem 0 rgba(45, 55, 75, 0.1);
        height: 100%;
        border: 0.0625rem solid rgba(220, 224, 229, 0.6);
        border-radius: 0.25rem;
        transition: all .2s ease-in-out;
        height: 100%
    }

    .blog-grid span {
        color: #292dc2
    }

    .blog-grid img {
        width: 100%;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem
    }

    .blog-grid-text {
        position: relative
    }

    .blog-grid-text > span {
        color: #292dc2;
        font-size: 13px;
        padding-right: 5px
    }

    .blog-grid-text h4 {
        line-height: normal;
        margin-bottom: 15px
    }

    .blog-grid-text .meta-style2 {
        border-top: 1px dashed #cee1f8;
        padding-top: 15px
    }

    .blog-grid-text .meta-style2 ul li {
        margin-bottom: 0;
        font-weight: 500
    }

    .blog-grid-text .meta-style2 ul li:last-child {
        margin-right: 0
    }

    .blog-grid-text ul {
        margin: 0;
        padding: 0
    }

    .blog-grid-text ul li {
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        margin: 5px 10px 5px 0
    }

    .blog-grid-text ul li:last-child {
        margin-right: 0
    }

    .blog-grid-text ul li i {
        font-size: 14px;
        font-weight: 600;
        margin-right: 5px
    }

    .blog-grid-text p {
        font-weight: 400;
        padding: 0
    }

    .blog-list-left-heading:after,
    .blog-title-box:after {
        content: '';
        height: 2px
    }

    .blog-grid-simple-content a:hover {
        color: #1d184a
    }

    .blog-grid-simple-content a:hover:after {
        color: #1d184a
    }

    .blog-grid-text {
        position: relative
    }

    .blog-grid-text > span {
        color: #292dc2;
        font-size: 13px;
        padding-right: 5px
    }

    .blog-grid-text h4 {
        line-height: normal;
        margin-bottom: 15px
    }

    .blog-grid-text .meta-style2 {
        border-top: 1px dashed #cee1f8 !important;
        padding-top: 15px
    }

    .blog-grid-text .meta-style2 ul li {
        margin-bottom: 0;
        font-weight: 500
    }

    .blog-grid-text .meta-style2 ul li:last-child {
        margin-right: 0
    }

    .blog-grid-text ul {
        margin: 0;
        padding: 0
    }

    .blog-grid-text ul li {
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        margin: 5px 10px 5px 0
    }

    .blog-grid-text ul li:last-child {
        margin-right: 0
    }

    .blog-grid-text ul li i {
        font-size: 14px;
        font-weight: 600;
        margin-right: 5px
    }

    .blog-grid-text p {
        font-weight: 400;
        padding: 0
    }

    a, a:active, a:focus {
        color: #575a7b;
        text-decoration: none;
        transition-timing-function: ease-in-out;
        -ms-transition-timing-function: ease-in-out;
        -moz-transition-timing-function: ease-in-out;
        -webkit-transition-timing-function: ease-in-out;
        -o-transition-timing-function: ease-in-out;
        transition-duration: .2s;
        -ms-transition-duration: .2s;
        -moz-transition-duration: .2s;
        -webkit-transition-duration: .2s;
        -o-transition-duration: .2s;
    }

    .pagination {
        border-radius: 0;
        padding: 0;
        margin: 0
    }

    .pagination ul {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        margin: 0 auto;
        padding: 0
    }

    .pagination li {
        display: inline
    }

    .pagination a {
        float: left;
        padding: 0 18px;
        line-height: 40px;
        text-decoration: none;
        border: 1px solid #dbdbdb;
        border-left-width: 0;
        background: #fff
    }

    .pagination a:hover {
        background-color: #1d184a;
        color: #fff
    }

    .pagination .active a {
        background-color: #f7f7f7;
        color: #999;
        cursor: default
    }

    .pagination .disabled span {
        color: #999;
        background-color: transparent;
        cursor: default
    }

    .pagination .disabled a {
        color: #999;
        background-color: transparent;
        cursor: default
    }

    .pagination .disabled a:hover {
        color: #999;
        background-color: transparent;
        cursor: default
    }

    .pagination li:first-child a {
        border-left-width: 1px
    }

    .mt-6, .my-6 {
        margin-top: 3.5rem;
    }

    .display-30 {
        height: 3em;
        line-height: 1.5em;
        overflow: hidden;
    }

    .realLink:hover {
        text-decoration: none;
    }

    .fakeLink {
        border: 0px;
        background-color: #fff;
        color: #575a7b;
        cursor: hand;
        padding: 0;
    }

    .fakeLink:hover {
        color: #0a58ca;
        text-decoration: underline;
    }
</style>

<div class="container" style="margin-bottom: 64px;">
    <div class="row row-cols-2 mt-n5">
        @if (Model.dataTable != null)
        {
            for (int i = 0; i < Model.dataTable.Rows.Count; i++)
            {
                <form method="post" class="col-md-6 col-lg-4 mt-5 wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <div class="blog-grid border">
                        <div class="blog-grid-text p-4">
                            <h3 class="h5 mb-3"><a href="/Post?id=@Model.dataTable.Rows[i][0].ToString()">@Model.dataTable.Rows[i][1].ToString()</a></h3>
                            <p class="display-30">@Model.dataTable.Rows[i][2].ToString()</p>
                            <div class="meta meta-style2 d-flex flex-row justify-content-between">
                                <ul>
                                    <li><a class="realLink" href="#"><i class="fas fa-calendar-alt"></i> @DateTime.ParseExact(Model.dataTable.Rows[i][3].ToString(), "yyyy/M/d h:mm:ss", null, System.Globalization.DateTimeStyles.None).ToString("d MMM, yyyy", new System.Globalization.CultureInfo("en-US"))</a></li>
                                    <li><a class="realLink" href="#"><i class="fas fa-user"></i> @Model.dataTable.Rows[i][4].ToString()</a></li>
                                    <li><a class="realLink" href="#"><i class="fas fa-comments"></i> @Model.dataTable.Rows[i][5].ToString()</a></li>
                                </ul>

                                <ul>
                                    <li><button class="fakeLink" asp-page-handler="Update" asp-route-id="@Model.dataTable.Rows[i][0].ToString()">Edit</button></li>
                                    <li><button class="fakeLink" asp-page-handler="Delete" asp-route-id="@Model.dataTable.Rows[i][0].ToString()">Delete</button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>
            }
        }

        <div class="col-md-6 col-lg-4 mt-5 wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <div class="d-flex align-items-center justify-content-center" style="width: 408px; height: 195px;">
                <button class="btn btn-primary fw-bold" onclick="location.href='/PostAdd';"><i class="fas fa-plus"></i> Add </button>
            </div>
        </div>
    </div>
</div>
