@page
@model WebApplication1.Pages.UserModel
@{
}

<h1>@Model.WelcomeMessage</h1>
<form method="post" style="margin-bottom: 64px;">
    <table id="myTable" class="uk-table uk-table-hover uk-table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Password</th>
                <th>Name</th>
                <th>Age</th>
                <th>Sex</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.dataTable == null)
            {
                return;
            }

            @for (int i = 0; i < Model.dataTable.Rows.Count; i++)
            {
                <tr>
                    <td>@Model.dataTable.Rows[i][0].ToString()</td>
                    <td>@Model.dataTable.Rows[i][1].ToString()</td>
                    <td>@Model.dataTable.Rows[i][2].ToString()</td>
                    <td>@Model.dataTable.Rows[i][3].ToString()</td>
                    <td>@(Model.dataTable.Rows[i][4].ToString() == "1" ? "男" : "女")</td>
                    <td>
                        <button class="btn btn-warning" asp-page-handler="Update" asp-route-id="@Model.dataTable.Rows[i][0].ToString()">Edit</button>
                        <button class="btn btn-danger" asp-page-handler="Delete" asp-route-id="@Model.dataTable.Rows[i][0].ToString()" onclick="if (!confirm('你確定嗎？')) return false;">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
@*         <tfoot>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
            </tr>
        </tfoot> *@
    </table>
    <button class="btn btn-primary" asp-page-handler="Add">Add new user</button>
    <button class="btn btn-secondary" asp-page-handler="Logout">Logout</button>
</form>

@section Scripts {
    <script type="text/javascript" src="~/js/mytable.js"></script>
}
